* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/* Applied to all elements */

/* Containers */

html {
    position: relative;
    min-width: 1280px;
}

body {
    background-color: #FFFFFF;
    width: 100%;
}

header {
    background-color: #E5F2E0;
    position: fixed;
    width: 100%;
    min-width: 1280px;
    z-index: 100;
    height: 70px;
}

header div {
    display: flex;
    width: 100%;
    min-width: 1280px;
    height: 100%;
    max-width: 1920px;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 0px 40px;
    box-sizing: border-box;
}

header div ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    gap: 60px;
}

section {
    position: relative;
    width: 100%;
    min-width: 1280px;
    justify-content: center;
    padding: 50px 100px;
}

div {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Fonts */

h1 {
    position: relative;
    font-family: Arial, sans-serif;
    font-size: 45px;
    font-weight: 200;
    color: #174324;

}

p {
    position: relative;
    font-family: Arial, sans-serif;
    font-size: 20px;
    font-weight: 400;
    text-decoration-line: underline;
    font-style: italic;
    color: #174324;
}

h2 {
    font-family: Arial, sans-serif;
    font-size: 22px;
    font-weight: 200;
    color: #174324;
}

h3 {
    font-family: Arial, sans-serif;
    font-size: 32px;
    font-weight: 200;
    color: white;
}

button:hover>h2 {
    color: white;
}

/* Media */

.head-Img {
    position: relative;
    width: 480px;
    border-radius: 20px;
}

/* Interactables */

button {
    background-color: #b5caad;
    color: #174324;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 2rem;
    cursor: pointer;
    z-index: 1;
    position: relative;
    display: flex;

    /* Text Font */
    font-family: Arial, sans-serif;
    font-size: 22px;
    font-weight: 200;
    position: relative;
    transition: all 0.2s ease;
}

button:hover {
    background-color: #047500;
    color: #ffffff;
}

a {
    text-decoration: none;
    color: #174324;
    font-family: Arial, sans-serif;
    font-size: 20px;
    font-weight: 200;
}

a:hover {
    text-decoration: none;
    color: #047500;
}

.navmenu {
    display: none;
}

/* Classes */
.navdropdown {
    position: relative;
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    justify-items: center;
    height: 70px;
}

.navdropdown img {
    position: relative;
    rotate: 180deg;
}

.navdropdown:hover>img {
    rotate: 270deg;
}

.navdropdown ul {
    position: fixed;
    background-color: #E5F2E0;
    display: none;
    top: 60px;
    max-width: 250px;
    border-radius: 10px;
    z-index: 101;
}

.navdropdown ul li {
    height: auto;
    padding: 0 10px;
    margin: 15px 0;

}

.navdropdown:hover>ul {
    display: block;
}

/* Course Pages */

.coursepages {
    background-image: url(./src/bg1.png);
    display: grid;
    grid-template-columns: 480px 480px;
    grid-template-rows: 150px auto;
    align-items: center;
    justify-items: center;
    column-gap: 100px;
}

.coursepages h1 {
    grid-row: 1;
    grid-column: 1;
    justify-self: self-start;
    align-self: self-end;
}

.coursepages p {
    grid-row: 2;
    grid-column: 1;
}

.coursepages img {
    grid-row: 1 / span 2;
    grid-column: 2;
}

.coursepages2 {
    background-image: url(./src/bg1.png);
    display: grid;
    grid-template-columns: 480px 480px;
    grid-template-rows: 150px auto;
    align-items: center;
    justify-items: center;
    column-gap: 100px;
}

.coursepages2 h1 {
    grid-row: 1;
    grid-column: 2;
    justify-self: self-start;
    align-self: self-end;
}

.coursepages2 p {
    grid-row: 2;
    grid-column: 2;
}

.coursepages2 img {
    grid-row: 1 / span 2;
    grid-column: 1;
}

/* Who Are We */
#whoarewe {
    min-height: 650px;
    background-image: linear-gradient(to bottom, #ffffff 20%, #E5F2E0 100%);
    display: grid;
    grid-template-columns: 480px 480px;
    grid-template-rows: auto 1fr;
    align-items: center;
    justify-items: center;
    column-gap: 100px;
}

#whoarewe img {
    grid-column: 2;
    grid-row: 1/ span 2;
}

#whoarewe h1 {
    grid-column: 1;
    grid-row: 1;
    justify-self: self-start;
    margin-top: 150px;
}

#whoarewe p {
    grid-column: 1;
    grid-row: 2;
    align-self: self-start;
    text-decoration: none;
}

#visual1 {
    position: relative;
    height: 413px;
    background-image: url(./src/img12.png);
    background-size: cover;
    background-position: center;
    justify-items: end;
    align-content: center;
}

#visual2 {
    position: relative;
    height: 413px;
    background-image: url(./src/img13.png);
    background-size: cover;
    background-position: center;
    justify-items: start;
    align-content: center;
}

#visual2::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #174324;
    mix-blend-mode: multiply;
    z-index: 1;
}

#visual2 h3 {
    position: relative;
    z-index: 2;
}

/* Contact */

#Contact {
    position: relative;
    min-height: 550px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 50px 7px auto;
    justify-items: center;
    align-items: center;
    row-gap: 10px;
    column-gap: 20px;
    background-image: url(./src/bg1.png);
    background-size: contain;
    background-position: center;
}

#Contact button {
    justify-content: center;
    align-items: center;
}

#Contact h1 {
    grid-column: 1 / span 2;
    grid-row: 1;
    align-self: self-end;
}

#Contact hr {
    grid-column: 1 / span 2;
}

#Contact p {
    grid-column: 1 / span 2;
    grid-row: 4;
    align-self: self-start;
}

#Contact button img {
    width: 20px;
    height: 20px;
}

#Gmail {
    grid-row: 2;
    grid-column: 1;
    justify-self: self-end;
}

#WA {
    grid-row: 2;
    grid-column: 2;
    justify-self: self-start;
}

#Gmail:hover>h2 {
    color: #ffffff;
}

#Gmail:hover>img {
    filter: brightness(0) invert(100%);
}

#WA:hover>h2 {
    color: #ffffff;
}

#WA:hover>img {
    filter: brightness(0) invert(100%);
}

/* End Page */

#pageEnd {
    position: relative;
    height: 360px;
    background-image: linear-gradient(to bottom, #E5F2E0 60%, #174324 100%);
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    column-gap: 75px;
    padding: 0 100px;
}

#pageEnd img {
    position: relative;
    width: 150px;
    height: 150px;
    grid-row: 1;
    grid-column: 1 / span 2;
}

#pageEnd button {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    justify-content: center;
    align-content: center;
}

#pageEnd h2 {
    color: #174324;
    text-align: center;
    font-weight: 300;
    font-style: italic;
    grid-row: 5;
    grid-column: 1 / span 2;
}

#pageEnd p {
    font-style: italic;
    font-weight: bold;
    text-transform: capitalize;
}

#seperator2 {
    position: relative;
    grid-row: 2;
    grid-column: 1 / span 2;
}

#facebookbutton {
    grid-row: 3;
    grid-column: 1;
    justify-self: self-end;
}

#facebookbutton img {
    position: relative;
    width: 20px;
    height: 20px;
}

#facebookbutton:hover>img {
    filter: invert(100%);
}

#instagrambutton {
    justify-self: self-start;
    grid-row: 3;
    grid-column: 2;
}

#instagrambutton img {
    position: relative;
    width: 20px;
    height: 20px;
}

#instagrambutton:hover>img {
    filter: invert(100%);
}

#Phone {
    grid-row: 4;
    grid-column: 1;
    justify-self: self-end;
}


#Email {
    justify-self: self-start;
    grid-row: 4;
    grid-column: 2;
}

/* Floating Buttons */

.FloatingButtonsMob {
    display: none;
}

.FloatingButtons {
    /* Fixes the button relative to the viewport */
    position: fixed;
    width: 160px;
    height: 50px;

    justify-content: start;
    align-items: center;
    gap: 10px;

    /* Styling & Alignment */

    color: #ffffff;
    border: none;
    cursor: pointer;

    /* Keep on top of other content */
    z-index: 1000;

    transition: transform 0.2s ease;
}

.FloatingButtons:hover {
    transform: translateY(-5px);
}

.FloatingButtons img {
    width: 20px;
    height: 20px;
    filter: invert(100%);
}

#whatsapp {
    background-color: #20BA5A;
    bottom: 65px;
    right: 25px;

}

#whatsapp:hover {
    background-color: #1b994b;
}

#callus {
    background-color: rgb(0, 89, 255);
    right: 25px;
    bottom: 5px;
}

#callus:hover {
    background-color: rgb(1, 74, 211);
}

@media only screen and (max-width: 600px) and (min-width: 320px) {
    html {
        min-width: 320px;
        max-width: 600px;
    }

    header {
        width: 100%;
        min-width: 320px;
        height: 70px;
    }

    header div {
        min-width: 320px;
        max-width: 600px;
        padding: 0px 20px;
    }

    header div button {
        display: none;
    }

    header div ul {
        display: none;
    }

    section {
        width: 100%;
        min-width: 320px;
        padding: 50px 50px;
    }

    h1 {
        font-size: 20px;
        font-weight: 100;
    }

    p {
        font-size: 10px;
        font-weight: 200;
        text-decoration: none;
    }

    h2 {
        font-size: 11px;
        font-weight: 100;
    }

    h3 {
        font-size: 11px;
        font-weight: 100;
    }

    .head-Img {
        width: 300px;
        border-radius: 10px;
    }

    #logo {
        height: 50px;
    }

    button {
        /* Text Font */
        font-size: 11px;
        font-weight: 100;
    }

    a {
        font-size: 10px;
        font-weight: 100;
    }

    .navmenu {
        display: block;
        background-color: transparent;
        background-image: url(./Assets/navmenu.png), url(./Assets/close.png), url(./Assets/back.png);
        background-size: cover;
        background-position: center, center left 50px, center left 50px;
        background-repeat: no-repeat;
        width: 50px;
        height: 50px;
    }

    .navmenu:hover {
        background-color: transparent;
    }

    .navmenulist {
        position: fixed;
        display: none;
        background-color: #E5F2E0;
        width: 100%;
        height: 100vh;
        z-index: 98;
    }

    .navmenulist ul {
        width: 100%;
        height: 100%;
        padding: 50px 20px;
        justify-items: center;
        align-content: start;
        list-style: none;
    }

    .navmenulist ul li {
        width: 100%;
        height: auto;
        justify-items: start;
        align-content: center;
        margin: 30px 0;
    }

    .navmenulist ul li a,
    .navmenulist ul li h2 {
        font-size: 45px;
    }

    .coursemenu img {
        height: 40px;
        width: 40px;
        rotate: 180deg;
    }

    .coursemenulist {
        position: fixed;
        display: none;
        background-color: #E5F2E0;
        width: 100%;
        height: 100vh;
        z-index: 99;
    }

    .coursemenulist ul {
        width: 100%;
        height: 100%;
        padding: 50px 20px;
        justify-items: center;
        align-content: start;
        list-style: none;
    }

    .coursemenulist ul li {
        width: 100%;
        height: auto;
        justify-items: start;
        align-content: center;
        margin-top: 30px;
        border-top: 2px solid #b5caad;
        border-bottom: 2px solid #b5caad;
    }

    .coursemenulist ul li img {
        height: 30px;
        align-self: center;
    }

    .coursemenulist ul li a,
    .coursemenulist ul li h2 {
        font-size: 45px;
    }

    /* Course Pages */

    .coursepages {
        background-image: url(./src/bg1.png);
        display: grid;
        height: 550px;
        grid-template-columns: 300px;
        grid-template-rows: auto 30px auto;
        align-items: center;
        justify-items: center;
        column-gap: 100px;
    }

    .coursepages h1 {
        grid-row: 2;
        grid-column: 1;
        justify-self: center;
        align-self: center;
    }

    .coursepages p {
        grid-row: 3;
        grid-column: 1;
        align-self: self-start;
        text-align: center;
    }

    .coursepages img {
        grid-row: 1;
        grid-column: 1;
    }

    .coursepages2 {
        background-image: url(./src/bg1.png);
        display: grid;
        height: 550px;
        grid-template-columns: 300px;
        grid-template-rows: auto 30px auto;
        align-items: center;
        justify-items: center;
        column-gap: 100px;
    }

    .coursepages2 h1 {
        grid-row: 2;
        grid-column: 1;
        justify-self: center;
        align-self: center;
    }

    .coursepages2 p {
        grid-row: 3;
        grid-column: 1;
        align-self: self-start;
        text-align: center;
    }

    .coursepages2 img {
        grid-row: 1;
        grid-column: 1;
    }

    /* Who Are We */
    #whoarewe {
        grid-template-columns: 380px;
        grid-template-rows: max-content 30px auto;
        align-items: center;
        justify-items: center;
    }

    #whoarewe img {
        grid-column: 1;
        grid-row: 1;
    }

    #whoarewe h1 {
        grid-column: 1;
        grid-row: 2;
        justify-self: center;
        margin-top: 0px;
    }

    #whoarewe p {
        grid-column: 1;
        grid-row: 3;
        align-self: self-start;
        text-align: center;
        text-decoration: none;
    }

    #visual1 {
        position: relative;
        height: 250px;
        background-image: url(./src/img12.png);
        background-size: cover;
        background-position: center;
        justify-items: end;
        align-content: center;
    }

    #visual2 {
        position: relative;
        height: 250px;
        background-image: url(./src/img13.png);
        background-size: cover;
        background-position: center;
        justify-items: start;
        align-content: center;
    }

    /* End Page */

    #pageEnd {
        min-height: 360px;
        grid-template-columns: 130px 130px;
        grid-template-rows: auto 7px 1fr 1fr 1fr 1fr;
        column-gap: 20px;
        padding: 10px 20px;
    }

    #pageEnd img {
        position: relative;
        width: 200px;
        height: 200px;
        grid-row: 1;
        grid-column: 1 / span 2;
    }

    #pageEnd button {
        width: 30px;
        height: 30px;
        justify-items: center;
        align-items: center;
    }

    #pageEnd h2 {
        font-weight: 200;
        font-style: italic;
        grid-row: 6;
        grid-column: 1 / span 2;
    }

    #seperator2 {
        position: relative;
        grid-row: 2;
        grid-column: 1 / span 2;
        width: 200px;
    }

    #facebookbutton {
        grid-row: 3;
        grid-column: 1;
        justify-self: self-end;
    }

    #facebookbutton img {
        position: relative;
        width: 20px;
        height: 20px;
    }

    #instagrambutton {
        justify-self: self-start;
        grid-row: 3;
        grid-column: 2;
    }

    #instagrambutton img {
        position: relative;
        width: 20px;
        height: 20px;
    }

    #Phone {
        grid-row: 4;
        grid-column: 1 / span 2;
        justify-self: center;
    }


    #Email {
        justify-self: center;
        grid-row: 5;
        grid-column: 1 /span 2;
    }

    .FloatingButtons {
        display: none;
    }

    .FloatingButtonsMob {
        /* Fixes the button relative to the viewport */
        display: flex;
        position: fixed;
        width: 30px;
        height: 30px;

        justify-content: center;
        align-items: center;
        gap: 10px;

        /* Styling & Alignment */

        color: #ffffff;
        border: none;
        cursor: pointer;

        /* Keep on top of other content */
        z-index: 1000;

        transition: transform 0.2s ease;
    }

    .FloatingButtonsMob img {
        width: 20px;
        height: 20px;
        filter: invert(100%);
    }

    #whatsapp {
        background-color: #20BA5A;
        bottom: 45px;
        right: 15px;

    }

    #callus {
        background-color: rgb(0, 89, 255);
        right: 15px;
        bottom: 10px;
    }
}
