/* Moved from inline HTML */
.header-logo {
    position: relative;
    left: 2rem;
}

.navdropdown .dropdown-title {
    color: #174324;
    position: relative;
    top: 0.75rem;
}

#Sec1 p {
    position: absolute;
    font-size: 75px;
    top: 6rem;
    left: 3rem;
    color: #174324;
    scale: 50%;
}

#Sec1 h3 {
    color: #174324;
    position: absolute;
    font-size: 25px;
    top: 14rem;
    left: -0.75rem;
    scale: 50%;
}

#Sec1 .who-are-we-btn img {
    position: absolute;
    left: 7.8rem;
    top: 0.55rem;
    rotate: 180deg;
}
