* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/* Applied to all elements */

/* Containers */

html {
    position: relative;
    min-width: 1280px;
}

body {
    background-color: #FFFFFF;
    width: 100%;
}

header {
    background-color: #E5F2E0;
    position: fixed;
    width: 100%;
    min-width: 1280px;
    z-index: 100;
    height: 70px;
}

header div {
    display: flex;
    width: 100%;
    min-width: 1280px;
    height: 100%;
    max-width: 1920px;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 0px 40px;
    box-sizing: border-box;
}

header div ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    gap: 40px;
}

section {
    position: relative;
    width: 100%;
    min-width: 1280px;
    justify-content: center;
    padding: 0px 200px;
}

div {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Fonts */

h1 {
    position: relative;
    font-family: Arial, sans-serif;
    font-size: 35px;
    font-weight: 200;
    color: #174324;

}

p {
    position: relative;
    font-family: Arial, sans-serif;
    font-size: 18px;
    font-weight: 500;
    text-decoration-line: underline;
    font-style: italic;
    color: #174324;
}

h2 {
    font-family: Arial, sans-serif;
    font-size: 20px;
    font-weight: 200;
    color: #174324;
}

/* Media */

.head-Img {
    position: relative;
    width: 280px;
    border-radius: 10px;
}

/* Interactables */

button {
    background-color: #b5caad;
    color: #174324;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 2rem;
    cursor: pointer;
    z-index: 1;
    position: relative;
    display: flex;

    /* Text Font */
    font-family: Arial, sans-serif;
    font-size: 1.2rem;
    font-weight: 200;
    position: relative;
    transition: all 0.2s ease;
}

button:hover {
    background-color: #047500;
    color: #ffffff;
}

a {
    text-decoration: none;
    color: #174324;
    font-family: Arial, sans-serif;
    font-size: 20px;
    font-weight: 200;
}

a:hover {
    text-decoration: none;
    color: #047500;
}

/* Classes */
.navbar {
    position: relative;
    width: 100%;
}

/* Section 1 */

#Sec1 {
    background-image: url(./src/bg1.png);
    background-size: contain;
    position: relative;
    min-height: 500px;
    display: grid;
    grid-template-columns: auto 280px;
    grid-template-rows: 200px 100px 200px;
    align-items: center;
    justify-items: center;
    column-gap: 150px;
}

#Sec1 img {
    grid-column: 2;
    grid-row: 1 / span 3;
}

#Sec1 h1 {
    grid-column: 1;
    grid-row: 1;
    align-self: self-end;
    justify-self: start;
}

#Sec1 p {
    grid-column: 1;
    grid-row: 2;
}

#Sec1 button {
    grid-column: 1;
    grid-row: 3;
    justify-self: start;
    align-self: self-start;
}

#Sec1 button img {
    rotate: 180deg;
}

#Sec1 button:hover>img {
    filter: invert(100%);
}

/* Section 2 */

#hoveredArrow {
    visibility: hidden;
}

#Sec2 {
    position: relative;
    min-height: 450px;
    display: grid;
    grid-template-columns: auto 280px;
    column-gap: 150px;
    /* grid-template-rows: 1fr 1fr; */
    align-items: center;
    justify-items: center;
}

#Sec2 img {
    grid-column: 2;
    grid-row: 1 / span 2;
}

#Sec2 h1 {
    grid-column: 1;
    grid-row: 1;
    align-self: self-end;
    justify-self: start;
}

#Sec2 p {
    grid-column: 1;
    grid-row: 2;
    align-self: self-start;
    padding-top: 15px;
}

#sectionCutter {
    transform: translateX(390px);

}

/* Courses Section */

#CoursesSec {
    position: relative;
    height: 520px;
    background-image: linear-gradient(to bottom, #ffffff 40%, #E5F2E0 60%);
}

#CoursesSec p {
    position: relative;
    font-size: 4rem;
    text-align: center;
    color: #174324;
    font-style: italic;
}


/* Courses Buttons */

.coursebuttons img {
    transition: border-radius 0.15s ease, scale 0.2s ease;
    transition: border-radius 0.15s ease-out, scale 0.2s ease-out;
}

#C1 {
    position: absolute;
    scale: 12%;
    width: 50rem;
    border-radius: 7rem;
    transform: translateX(-350rem) translateY(-210rem);
}

#C1 h2 {
    position: relative;
    font-size: 7rem;
    font-weight: 600;
    text-align: center;
    transform: translateY(-1.5rem);
}

#C1:hover>h2 {
    color: #E5F2E0;
}

#C1 img {
    position: relative;
    max-width: 35rem;
    max-height: 35rem;
    border-radius: 7rem;
    margin-top: 5rem;
    margin-bottom: 5rem;
    transform: translateX(-1.5rem);

}

#C1:hover>img {
    border-radius: 50%;
    scale: 115%;

}

#C2 {
    position: absolute;
    scale: 12%;
    width: 50rem;
    border-radius: 7rem;
    transform: translateX(-175rem) translateY(-242rem);
}

#C2 h2 {
    position: relative;
    font-size: 7rem;
    font-weight: 600;
    text-align: center;
    transform: translateY(-1.5rem);
}

#C2:hover>h2 {
    color: #E5F2E0;
}

#C2 img {
    position: relative;
    max-width: 35rem;
    max-height: 35rem;
    border-radius: 7rem;
    margin-top: 5rem;
    margin-bottom: 5rem;
    transform: translateX(-1.5rem);
}

#C2:hover>img {
    border-radius: 50%;
    scale: 115%;
}

#C3 {
    position: absolute;
    scale: 12%;
    width: 50rem;
    border-radius: 7rem;
    transform: translateX(0rem) translateY(-182rem);
}

#C3 h2 {
    position: relative;
    font-size: 7rem;
    font-weight: 600;
    text-align: center;
    transform: translateY(-1.5rem);
}

#C3:hover>h2 {
    color: #E5F2E0;
}

#C3 img {
    position: relative;
    max-width: 35rem;
    max-height: 35rem;
    border-radius: 7rem;
    margin-top: 5rem;
    margin-bottom: 5rem;
    transform: translateX(-1.5rem);
}

#C3:hover>img {
    border-radius: 50%;
    scale: 115%;
}

#seperator {
    position: relative;
    transform: translateX(440px) translateY(15rem);
}

#C4 {
    position: absolute;
    scale: 12%;
    width: 50rem;
    border-radius: 7rem;
    transform: translateX(-350rem) translateY(-30rem);
}

#C4 h2 {
    position: relative;
    font-size: 7rem;
    font-weight: 600;
    text-align: center;
    transform: translateY(-1.5rem);
}

#C4:hover>h2 {
    color: #E5F2E0;
}

#C4 img {
    position: relative;
    max-width: 35rem;
    max-height: 35rem;
    border-radius: 7rem;
    margin-top: 5rem;
    margin-bottom: 5rem;
    transform: translateX(-1.5rem);
}

#C4:hover>img {
    border-radius: 50%;
    scale: 115%;
}

#C5 {
    position: absolute;
    scale: 12%;
    width: 50rem;
    border-radius: 7rem;
    transform: translateX(-175rem) translateY(-30rem);
}

#C5 h2 {
    position: relative;
    font-size: 7rem;
    font-weight: 600;
    text-align: center;
    transform: translateY(-1.5rem);
}

#C5:hover>h2 {
    color: #E5F2E0;
}

#C5 img {
    position: relative;
    max-width: 35rem;
    max-height: 35rem;
    border-radius: 7rem;
    margin-top: 5rem;
    margin-bottom: 5rem;
    transform: translateX(-1.5rem);
}

#C5:hover>img {
    border-radius: 50%;
    scale: 115%;
}

#C6 {
    position: absolute;
    scale: 12%;
    width: 50rem;
    border-radius: 7rem;
    transform: translateX(0rem) translateY(-30rem);
}

#C6 h2 {
    position: relative;
    font-size: 7rem;
    font-weight: 600;
    text-align: center;
    transform: translateY(-1.5rem);
}

#C6:hover>h2 {
    color: #E5F2E0;
}

#C6 img {
    position: relative;
    max-width: 35rem;
    max-height: 35rem;
    border-radius: 7rem;
    margin-top: 5rem;
    margin-bottom: 5rem;
    transform: translateX(-1.5rem);
}

#C6:hover>img {
    border-radius: 50%;
    scale: 115%;
}

/* End Page */

#pageEnd {
    position: relative;
    height: 360px;
    background-image: linear-gradient(to bottom, #E5F2E0 50%, #174324 100%);
}

#pageEnd img {
    position: relative;
    width: 150px;
    height: 150px;
    transform: translateX(520px) translateY(0rem);
}

#pageEnd a {
    text-decoration: none;
    color: #0c2212;
    font-family: Arial, sans-serif;
    font-size: 1.2rem;
    font-weight: 500;
}

#pageEnd h2 {
    text-align: center;
    font-weight: 300;
    font-style: italic;
    transform: translateY(-9rem);
}

#pageEnd button:hover {
    background-color: #047500;
    color: #ffffff;
}

#seperator2 {
    position: relative;
    transform: translateX(440px) translateY(-5rem);
}

#facebookbutton {
    position: absolute;
    background-color: #9eca8d;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    transform: translateX(-5rem) translateY(-9rem);
    scale: 70%;
}

#facebookbutton img {
    position: relative;
    width: 1.5rem;
    height: 1.5rem;
    transform: translateX(-2.25rem) translateY(0.25rem);
}

#facebookbutton:hover>img {
    filter: invert(100%);
}

#instagrambutton {
    position: absolute;
    background-color: #9eca8d;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    transform: translateX(11rem) translateY(-9rem);
    scale: 70%;
}

#instagrambutton img {
    position: relative;
    width: 1.5rem;
    height: 1.5rem;
    transform: translateX(-2.25rem) translateY(0.25rem);
}

#instagrambutton:hover>img {
    filter: invert(100%);
}

#Phone p {
    position: relative;
    font-style: italic;
    font-weight: bold;
    width: 50px;
    text-transform: capitalize;
    transform: translateX(30rem) translateY(-12rem);
    scale: 80%;
}

#Email p {
    position: relative;
    font-style: italic;
    font-weight: bold;
    width: 50px;
    text-transform: capitalize;
    transform: translateX(52rem) translateY(-13.7rem);
    scale: 80%;
}

/* Floating Buttons */

.FloatingButtons {
    /* Fixes the button relative to the viewport */
    position: fixed;


    /* Size and shape */
    width: 10rem;
    height: 3rem;

    /* Styling & Alignment */

    color: #ffffff;
    border: none;
    cursor: pointer;

    /* Keep on top of other content */
    z-index: 1000;

    transition: transform 0.2s ease;
}

.FloatingButtons:hover {
    transform: translateY(-5px);
}

#whatsapp {
    background-color: #20BA5A;
    bottom: 2.5rem;
    left: 1120px;
    scale: 70%;
}

#whatsapp:hover {
    background-color: #1b994b;
}

#whatsapp img {
    position: relative;
    width: 2rem;
    height: 2rem;
    transform: translateX(-5rem);
    filter: invert(100%);
}

#whatsapp p {
    position: relative;
    font-size: 3;
    transform: translateY(-2rem) translateX(1rem);
}

#callus {
    background-color: rgb(0, 89, 255);
    bottom: 0rem;
    left: 1120px;
    scale: 70%;
}

#callus:hover {
    background-color: rgb(1, 74, 211);
}

#callus img {
    position: relative;
    width: 2rem;
    height: 2rem;
    transform: translateX(-5rem);
    filter: invert(100%);
}

#callus p {
    position: relative;
    font-size: 3;
    transform: translateY(-2rem) translateX(1rem);
}
